# ----------------------
# Node.js
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# ----------------------
# Docker
# ----------------------
*.log

# ----------------------
# Terraform
# ----------------------
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
